* {
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

html {
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

body {
  font-family: 'Jost';
  font-weight: 500;
}

body header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  height: 60px;
}

body header.page-down {
  background-color: white;
}

body header h1 {
  margin-left: 20px; 
  margin-top: 5px;
}

body header ul {
  margin-right: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

body header ul li a{
  text-align: center;
  color: black;
}

main .container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: pulse-blood 2s infinite;
}

main .container-main div {
  text-align: center;
  position: relative;
  width: 80%;
}

main .container-main div #impact-phrase {
  display: block;
  font-weight: 800;
  font-size: 1rem;
  filter: opacity(0.9);
  text-justify: auto;
  margin: 130px 0px 100px 0px;
  font-family: 'Jost';
}

main .container-main div p span {
  color: #CB0003;
}

main .container-main div #we-can-help {
  font-size: 1.7rem;
  font-weight: 700;
  font-family: 'Josefin Sans';
}


main .container-main #hearth-main {
  width: 180px;
  filter: opacity(0.2);
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: -1;
  margin: auto;
  animation: pulse 2s infinite;
}

@keyframes pulse {
	20% {
    transform: scale(1.1);
    filter: opacity(0.7);
  }
}

@keyframes pulse-blood {
	20% {
    background-color: rgba(255, 167, 167, 0.795);
  }
}

main .container-about {
  background-color: #6d0002;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

main .container-about h2 {
  text-align: center;
  font-size: 3rem;
  margin: 0px 20px;
}

main .container-about p {
  margin: 50px 30px;
  font-size: 1.2rem;
}

main .container-work {
  margin: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main .container-work h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 30px;
}

main .container-work p {
  margin: 30px 0px;
  font-size: 1.2rem;
}

main .container-work img {
  width: 200px;
}

main .container-work ul {
  margin: 30px 0px;
  width: 100%;
  font-size: 1.3rem;
}

main .container-work ul li:nth-child(1) {
  color: green;
}

main .container-work ul li:nth-child(2) {
  color: orange;
}

main .container-work ul li:nth-child(3) {
  color: red;
}
