* {
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

html {
  display: flex;
  justify-content: center;
}

body {
  font-family: 'Jost';
  font-weight: 500;
}

body header {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 10px 30px;
}

body header ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

body header ul li a{
  text-align: center;
}

main .container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

main .container-main div {
  text-align: center;
  position: relative;
  width: 80%;
}

main .container-main div #impact-phrase {
  display: block;
  font-weight: 800;
  font-size: 1rem;
  filter: opacity(0.9);
  text-justify: auto;
  margin: 130px 0px 50px 0px;
  font-family: 'Jost';
}

main .container-main div p span {
  color: #CB0003;
}

main .container-main div #we-can-help {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 80px;
  font-family: 'Josefin Sans';
}


main .container-main #hearth-main {
  width: 150px;
  filter: opacity(0.2);
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: -1;
  margin: auto;
  animation: pulse 2s infinite;
}

@keyframes pulse {
	10% {
    transform: scale(1.1);
    filter: opacity(0.7);
  }
}

main .container-about {
  background-color: #CB0003;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

main .container-about h2 {
  text-align: center;
  font-size: 50px;
}

main .container-about ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main .container-about ul li {
  text-align: center;
  margin: 0px 5px;
}

main .container-about ul li img {
  margin-top: 70px;
  margin-bottom: 20px;
  width: 70px;
}